body {
    background-color: black;
    color: white;
 }

header, footer {
    text-align: center;
}

a, .preTax, .afterTax, .total {
    color: rgb(77, 161, 218);
    font-size: 14pt;
    font-weight: bold;
}

button {
    background-color: rgb(77, 161, 218);
    font-family: 'Shojumaru', cursive;
}

p {
    color: white;
    font-size: 14pt;
}

h1 {
    margin: 0 auto;
    width: 70%;
}

h3 {
    font-size: 25pt;
    font-family: 'Kaushan Script', cursive;
    text-shadow: -4px 3px 2px rgba(77, 161, 218, 1);
    text-align: center;
}

.remove {
    display: none;
}

.name {
    font-size: 25pt;
    font-family: 'Kaushan Script', cursive;
    text-shadow: -4px 3px 2px rgba(77, 161, 218, 1);
}

.recordPlate {
    margin: 0 auto;
    width: 50%;
    border: solid thick rgb(77, 161, 218);
    padding: 5px;
}


#sandwich {
    color: white;
}

#checkout, #submit, #payCash, #payCredit {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    background-color: rgb(77, 161, 218);
    font-size: 100%;
    font-family: 'Shojumaru', cursive;
    text-shadow: -4px 1px 1px white;
    text-align: center;
}

.receipts {
    text-align: center;
}
/* 
@media screen and (min-width:768px) {
    #drink, #sides{
      display: wrap;
    }
} */